<div class="relative bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
        <div class="flex items-center justify-start lg:w-0 lg:flex-1">
          <a href="#">
            <h1 class='text-5xl'> TaskManager</h1>
          </a>
        </div>
        <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
            <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-yellow-600 hover:bg-yellow-700">
                Create Task
            </a>
          <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-yellow-600 hover:bg-yellow-700">
            Logout
          </a>
        </div>
      </div>
    </div>

<div *ngFor="let task of getTasks()" class="flex flex-row flex-wrap">
    <div style= 'width: 10cm; margin : 10px;'>
        <div class=' bg-white shadow-md rounded overflow-hidden'>
            <img style="float: right; cursor:pointer;" class="img-responsive" src="assets/icons8-edit-24.png" width="20" height="20" (click)="openPopUp()">
            <div class="py-8 px-8 mt-3">
                <div class="flex flex-col mb-4">
                    <h2 class="text-gray-700 font-semibold text-2xl tracking-wide mb-2">{{task.taskTitle}}</h2>
                </div>
                <div class="flex flex-wrap content-around">
                    <div style="margin : 5px;" class="bg-gray-200"> Description : {{task.description}} </div>
                    <div style="margin : 5px;" class="bg-gray-200"> Priority : {{task.priority}} </div>
                    <div style="margin : 5px;" class="bg-gray-200"> TaskStatus : {{task.taskStatus}} </div>
                    <div style="margin : 5px;" class="bg-gray-200"> assignedTo : {{task.userName}} </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div [ngStyle]="{display: enableTaskEdit == true ? 'block' : 'none'}" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div  class="flex items-end justify-center min-h-screen pt-2 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
  
      <!--
        Modal panel, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-2 sm:align-middle sm:max-w-lg">
        <div class="bg-white px-2 pt-5 pb-2 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <!-- <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                Deactivate account
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">
                  Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
                </p>
              </div> -->
            <form [formGroup] = 'taskUpdateForm'>
                <div #taskTitle class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Task Title
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-5 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="taskTitle" type="text" placeholder="Task Title" formControlName = 'taskTitle'>
                </div>
                <div #description class="mb-6">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Task Description 
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="description" type="text" placeholder="Task Description " formControlName = 'description'> 
                </div>
                <div #priority class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                      Priority 
                    </label>
                    <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" formControlName = 'priority'>
                        <option class="py-1">LOW</option>
                        <option class="py-1">MEDIUM</option>
                        <option class="py-1">HARD</option>
                    </select>
                </div>
                <div #taskStatus class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                        Task Status 
                    </label>
                    <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" formControlName = 'taskStatus'>
                        <option class="py-1">LOW</option>
                        <option class="py-1">MEDIUM</option>
                        <option class="py-1">HARD</option>
                    </select>
                </div>
            </form>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
            Deactivate
          </button>
          <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  
